*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif, 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background:  white;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*it will be in the center of div*/
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10x 0 40px; /*10 from top 0 from left and rihght and 40 from bottom*/
    font-size: 14px;
    color: rgb(18, 58, 37);
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
}
.btn:hover{

    background: rgb(40, 58, 48);
    transition: 1s;
}